h1 {
    text-align: left;
    color: darkgoldenrod;
    font-family: cursive;
}

#Text {
    font-family: Algerian;
    color: darkmagenta;
    font-size: 25px;
}

body {
    text-align: center;
    background-color: violet;
    margin: 30px;
    scroll-behavior: smooth;
}

.list {
    float: left;
    color: cyan;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    font-family: cooper black;
    font-size: 30px;
}

.list:hover {
    background-color: dimgray;
}

.main {
    list-style: none;
    font-family: cursive;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 30px;
    color: chartreuse;
}

#number {
    text-align: center;
    font-family: monospace;
    color: darkblue;
    font-size: 30;
}

img {
transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.devicer { 
    width: 20em; 
    display: block; 
    height: 5px; 
    background-color: blue; 
    margin: 60px auto 0; }

.images {
    width: 600;
}